.newsCard {
  width: calc((100% - 60px) / 3);
  min-width: 297px;
  height: max-content;
  border-radius: 15px;
  /* border: 1px solid #eee; */
  box-shadow: 4px 12px 20px 6px rgb(0 0 0 / 9%);
  overflow: hidden;
  transition: 0.5s ease all;
}
.newsCard:hover {
  transform: translateY(-10px);
  box-shadow: 4px 12px 20px 6px rgb(0 0 0 / 18%);
}
.newsCardTop {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 24px;
  padding-bottom: 0;
}
.newCardKind {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.kind {
  border-radius: 12px;
  background: #eee;
  padding: 10px 15px;
  font-size: 13px;
}
.newsDate {
  color: #666;
  font-size: 13px;
  margin-left: 7px;
}
.newsicon {
  font-size: 30px;
}
.menuicon {
  font-size: 25px;
  color: #ccc;
  cursor: pointer;
}
.newsCardTitle {
  padding: 24px;
}
.newsTitle {
  color: #333;
  font-weight: 600;
  font-size: 22px;
  word-break: keep-all;
  margin-top: 13px;
  margin-bottom: 18px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.newsTags {
  display: flex;
  flex-direction: row;
  column-gap: 3px;
  font-size: 13px;
  color: #666;
}
.newsCardImg {
  width: 100%;
  height: 223px;
}
.newsImg {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}
