body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}
body * {
  letter-spacing: -0.02em;
  box-sizing: border-box;
}
ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
